
body {
    background-color: white;
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
    
}

hr {
    padding: 0%;
    margin: 2px 0%;
}

@media (orientation: portrait) and (hover: none) and (pointer: coarse) {
    #portrait {
        display: block;
    }
    
    #landscape {
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    #portrait {
        display: none;
    }
    
    #landscape {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.content {
    width: 100%;
    display: flex;
}

.content img {
    width: 100%;
}


